body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.container {
    max-width: 960px;
    height: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cell {
    background-color: lightblue;
    border: solid black thin;
    flex: 1;
}